.heroSection__wrapper {
  height: 400px;
  background-image: url("https://qx-shooz.myshopify.com/cdn/shop/articles/blog-2.png?v=1731500928&width=1296");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

/* @media (max-width: 576px) {
  .heroSection__wrapper {
    justify-content: flex-start;
    padding-left: 20px;
  }
} */

.heroSection__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.heroSection__content {
  position: relative;
  color: #fff;
  text-align: left;
}

.heroSection__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.heroSection__meta {
  display: flex;
  justify-content: left;
  gap: 20px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap; 
}

.heroSection__metaItem {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff!important;
  white-space: nowrap;
}

.heroSection__icon {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 992px) {
  .heroSection__wrapper {
    height: 300px;
  }

  .heroSection__title {
    font-size: 28px;
  }

  .heroSection__meta {
    gap: 15px;
    font-size: 13px;
  }
}