.subscribeSection_wrapper {
  background: linear-gradient(
    to bottom,
    #ffffff 50%,
    #ebebe4 50%
  );
  padding: 50px;
}

.subscribeSection_wrapper .row {
  display: flex;
  align-items: stretch;
}

.subscribeSection_content {
  background-color: #b1444b;
  padding: 80px 60px;
  color: #fff;
}

.subscribeSection_heading {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.2;
}

.subscribeSection_formWrapper {
  max-width: 500px;
}

.subscribeSection_input {
  height: 55px;
  border-radius: 0;
  border: none;
  outline: none;
}

.subscribeSection_button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0 30px;
  font-weight: 600;
  border-radius: 0;
  transition: 0.3s;
}

.subscribeSection_imageWrapper {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribeSection_image {
  width: 693px;
  height: 326px;
  object-fit: cover;
}


.subscribeSection_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribeSection_input {
  height: 35px;
  border-radius: 0;
  border: none;
  outline: none;
}

@media (max-width: 1400px) {
  .subscribeSection_imageWrapper {
    height: 300px;
  }

  .subscribeSection_image {
    width: 634px;
    height: 324px;
    object-fit: cover;
  }
}

@media (max-width: 1300px) {
  .subscribeSection_imageWrapper {
    height: 300px;
  }

  .subscribeSection_image {
    width: 588px;
    height: 324px;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .subscribeSection_heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.2;
}

  .subscribeSection_imageWrapper {
    height: 300px;
  }

  .subscribeSection_image {
    width: 530px;
    height: 299px;
    object-fit: cover;
  }
}


@media (max-width: 1100px) {
  .subscribeSection_imageWrapper {
    height: 300px;
  }

  .subscribeSection_image {
    width: 485px;
    height: 303px;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .subscribeSection_imageWrapper {
    height: 300px;
  }

  .subscribeSection_image {
    width: 485px;
    height: 303px;
    object-fit: cover;
  }
}

@media (max-width: 991.98px) {
  .subscribeSection_content {
    text-align: center;
    padding: 50px 20px;
  }

  .subscribeSection_formWrapper {
    margin: 0 auto;
  }

  .subscribeSection_imageWrapper {
    display: none;
  }
}