.footerSection_main {
  background-color: #ebebe4;
  padding: 60px 0 20px;
  font-family: Arial, sans-serif;
}

.footerSection_heading {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 18px;
  color: #000;
}

.footerSection_list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footerSection_list li {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footerSection_list li:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 2px; 
}

.footerSection_center {
  text-align: center;
}

.footerSection_logoImg {
  max-width: 140px;
  margin-bottom: 15px;
}

.footerSection_text {
  font-size: 15px;
  color: black;
  margin-bottom: 6px;
  line-height: 1.5;
}

.footerSection_line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 30px;
}

.footerSection_bottom {
  padding-top: 15px;
  margin-top: 30px;
}

.footerSection_copy {
  font-size: 15px;
  color: black;
  margin: 0;
}

.footerSection_copy span {
  color: #ff4d4d;
  font-weight: 600;
}

.footerSection_payments {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerSection_payments img {
  height: 28px;
  width: 45px;
  object-fit: contain;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .footerSection_heading {
  font-size: 14px;
}

  .footerSection_center {
    margin: 20px 0;
  }
}

@media (max-width: 992px) {

  .footerSection_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footerSection_copy {
    text-align: center;
  }

  .footerSection_payments {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {

  .footerSection_heading {
    text-align: left;
  }

  .footerSection_column:not(:first-child) .footerSection_heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footerSection_list {
    text-align: left;
  }

  .footerSection_text {
    text-align: left;
  }

  .footerSection_logoImg {
  display: block;
  margin: 0;
  padding-bottom: 20px;
  }
}

@media (max-width: 748px) {
  .footerSection_main {
    display: none;
  }
}