.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.topbar-left {
  white-space: nowrap;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.auth-links a {
  text-decoration: none;
  color: black;
  margin: 0 3px;
}

.auth-links span {
  margin: 0 3px;
}

.auth-links a:hover {
  color: #bf4d56;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-icons i {
  cursor: pointer;
  font-size: 14px;
}

.social-icons i:hover {
  color: #bf4d56;
}

body {
  margin: 0;
}

@media (max-width: 991px) {
  .topbar {
    justify-content: center;
    text-align: center;
  }

  .topbar-right {
    display: none;
  }

  .topbar-left {
    width: 100%;
  }
}